<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header clearfix mt15 mb20">
				<div class="left">
					<h4 class=" text-header">Dashboard</h4>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box ">
				<span class="info-box-icon bg-1"><i class="fas fa-users"></i></span>
				<div class="info-box-content">
					<span class="info-box-text color-1">Member</span>
					<span class="info-box-number color-1">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description">
						70% Increase in 30 Days
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box ">
				<span class="info-box-icon bg-2"><i class="fas fa-building"></i></span>
				<div class="info-box-content">
					<span class="info-box-text color-2">Company</span>
					<span class="info-box-number color-2">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description">
						70% Increase in 30 Days
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box ">
				<span class="info-box-icon bg-3"><i class="fas fa-hospital-alt"></i></span>
				<div class="info-box-content">
					<span class="info-box-text color-3">Provider</span>
					<span class="info-box-number color-3">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description">
						70% Increase in 30 Days
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box ">
				<span class="info-box-icon bg-4"><i class="fas fa-clock-o"></i></span>
				<div class="info-box-content">
					<span class="info-box-text color-4">Clock</span>
					<span class="info-box-number color-4">41,410</span>
					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description">
						70% Increase in 30 Days
					</span>
				</div>
			</div>
		</div>
		<button class="btn btn-secondary">fsdfsdfs</button>
	</div>
	
</div>