



$color: #464646;
$fontfamily: Georgia, serif; 







$primarycolor: #1647d4;
$display     : inline-block;

$firstBackground : #175eff;
$secondBackground : #303f9f;
$thirdBackground : #BBCFFF;

body
{
    font-family: $fontfamily;
    letter-spacing: .5px;
    background: #efefef;
}

.header
{
    position: relative;
    width: calc(100% - 65px);
    z-index: 1030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
    


    border-bottom: 1px solid #e9e9e9;
    margin-left: 80px;
    padding: 10px 20px 10px 0;
    align-items: center;
    justify-content: flex-end;
    background:$firstBackground;
    height:68px;
    z-index:1000;
    .right
    {
        .name-container 
        {
            display: inline-block;
            color:$color;
            padding: 14px 0;
            cursor: pointer;
            font-size: 14px;
            position: relative;
            text-transform:capitalize;

            .user-icon 
            {
                display: inline-block;
                font-size: 16px;
                margin-right: 5px;
                -webkit-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
            }

            .name 
            {
                display: inline-block;
                margin-right: 7px;
                font-weight: 400;
                -webkit-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
            }

            .dropdown-arrow 
            {
                display: inline-block;
                color: #000;
                opacity: 0.3;
                font-size: 16px;
                -webkit-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
            }

            .dropdown 
            {
                display: none;
                position: absolute;
                padding-top: 5px;
                font-size: 14px;
                top: 0;
                right: 0;
                padding-top: 45px;
                -webkit-transition: all 100ms ease-in-out;
                transition: all 100ms ease-in-out;
                opacity: 0;

                &.hidden 
                {
                    display: none !important;
                }

                .dropdown-container 
                {
                    background-color:$color;
                    color: #333;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    width: 180px;
                    overflow: hidden;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

                    .menu 
                    {
                        padding: 8px 15px;

                        &:hover 
                        {
                            background-color: $primarycolor;
                            color:$color;
                        }

                        &.top-divide 
                        {
                            border-top: 1px solid #eee;
                        }
                    }
                }
            }

            &:hover 
            {
                .dropdown 
                {
                    opacity: 1;
                    display: block;
                }

                
                

                .dropdown-arrow 
                {
                    opacity: 1;
                    color:$color;
                }
            }
        }
    }
}
.sidebar 
{
    font-family: $fontfamily;
    
    background: #ffffff;
    display: $display;
    width: 90px;
    transition: 0.3s all ease;
    top: 0;
    position: absolute;
    height:100%;
    z-index:1000;

    &:hover
    {

        overflow:hidden;
        width: 280px !important;
        z-index:1000;
        
        .nav-logo
        {
            overflow:hidden;
            width: 280px !important;
            z-index:1000;
            // background: #303f9f;
        }
        .side-nav, .profile-holder
        {
            overflow:hidden;
            width: 280px !important;
            z-index:1000;
        }
        
        .side-nav span, .profile-holder .text, .nav-logo-container .company-name
        {
            display: $display !important;
        }
        
        
        
    }
    .nav-logo
    {
        // background: #303f9f;
        // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        width: 90px;



        .nav-logo-container
        {
            padding: 0px 10px 0px 25px;
            
            
            text-align: left;


            
            .logo-holder
            {

                display: inline-block;
                vertical-align: middle;
                a
                {
                   
                    text-align: center;
                    font-size: 45px;
                    color:$color;
                    text-decoration: none;
                    
                }
            }
            .company-name
            {

                display: none ;
                vertical-align: middle;
                a
                {

                    text-align: left;
                    font-family: $fontfamily;
                    margin-left: 26px;
                    text-decoration: none;
                    color:$color;
                    font-size: 16px;
                    font-weight: bold;
                }
                
            }
        }
        
        

    }
    .profile-holder
    {
        height:80px;
        // background: #10316A;
        background: #ffffff;
        padding: 16px 0px 16px 0px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
         // width: 283px;
        .profile
        {
            padding: 0px 10px 0px 25px;
           
            text-align: left;
            
            .img
            {
                display: inline-block;
                vertical-align: middle;
                a
                {
                    img
                    {
                        border-radius: 100%;
                        border: 2px solid #eeeeee;
                        

                    }
                }
                
            }
            .text
            {
                display: none;
                vertical-align: middle;
                text-align: left;
                margin-left: 20px;
                max-width: 158.8px;
                color: #464646;
                .name
                {
                    font-size: 20px;
                    font-weight: 500;
                }
                .sub
                {
                    font-size: 12px;
                    
                    opacity: 0.5;
                }
            }
        }
        
    }
    .side-nav
    {
        background: #ffffff;
        padding:0px 10px 0px 15px;
        margin-top: 14px;
        ul
        {

            margin: 0;
            padding: 0;
            list-style: none;
            li
            {
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
                border-left:2px  solid transparent;
                a
                {
                    text-align: left !important;
                    text-decoration: none;

                    .nav-holder
                    {
                        transition: all 0.4s ease-in-out;
                        letter-spacing: 0.5px;
                        vertical-align: middle;
                        color:#464646;
                        
                        .icon
                        {
                            display: inline-block;
                            font-size: 35px;
                            padding-right:20px;
                            padding-left: 10px;
                        }
                        span
                        {
                            display: none;
                            font-size: 16px;
                        }
                    }
                }
                &:hover
                {
                    span
                    {
                        
                    }

                    border-left:2px  solid green;


                    
                   
                }
            }
            
        }
    }

}
main
{
    margin-left:80px;
    background:#EFEFEF;
}
.footer 
    {

        position: fixed;
        margin: auto;
        
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;

        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px 20px;
        color: #aaa;
        // box-sizing: normal-box;

        .copyright 
        {
            margin-top: 3px;
        }

        .footer-nav 
        {
            text-align: center;

            .nav 
            {
                margin-top: 3px;
                display: inline-block;
                color: #aaa;
                text-decoration: none;

                &:hover 
                {
                    color: #333;
                }
            }

            .divider 
            {
                margin: 0 8px;
            }
        }

        .social-media-links 
        {
            text-align: right;

            .nav 
            {
                color: #aaa;
                display: inline-block;
                font-size: 20px;
                margin-top: -2px;
                margin-left: 15px;

                &:hover 
                {
                    color: #333;
                }
            }
        }
    }






        





